p{
    font-size: 8px;
    padding: auto;
}
.sinseguir{
    color: rgb(23, 23, 253);
    margin-left: 4rem;

}
.profile{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    max-width: 1rem;
    max-height: 1rem;
    border-radius: 100%;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.name{
    display: flex;
    flex-direction: column;
    margin-right: -0.5rem;
}

.seguido{
    color: grey;
}